# Catch-all rule for all files, unless specified below
#
* text=auto

# All files ending in .lf should preserve LF line ending
#
*.lf eol=lf

# Hivemind system scripts should preserve Unix-style line ending
scripts/*.sh eol=lf
